body{
    background-image: linear-gradient(to left,rgb(78, 73, 78),rgb(103, 101, 114));
    margin: 0;
    padding: 0;
}
.form{
    border: 1px solid rgb(164, 163, 172);
    padding: 50px;
    width: 250px;
    border-radius: 10px;

}
/*cadastro */

#login{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{  
    font-size: 50px;
     text-align:left;
    color:rgb(202, 199, 221);
    transition: .1s;
    text-align: center;
    font-family: Candara;
}

h1:hover{
    font-size: 350%;
}
/*Caixa de texto*/

input{
   width:250px;
   height:40px;
   transition: .1s;
   background-color:rgb(122, 122, 122);;
   border: none;
   border-radius: 10px;
}
/*Imael*/
label, legend{
    font-family: Candara;
    color:rgb(145, 143, 156);
}
/*botão de cadastro*/

button{
    width:250px;
    height:40px;
    font-family: Candara;
    border: none;
    border-radius: 10px;
    margin: 0.7%;
    background-color: rgb(129, 90, 113);
    color: rgb(215, 213, 224);
}
button:hover {
    font-size: 100%;;
}

#esqueceu{
    color: rgb(215, 213, 224);
    border-radius: 40px;
    margin: 26.0%;
}
/*Imagens de login*/